Calculator/Calculator/obj
Calculator/Calculator/bin
Calculator/Droid/obj
Calculator/iOS/bin
Calculator/iOS/obj
Calculator/packages
Calculator/UITests/obj
Calculator/UITests/bin
Calculator/Droid/bin
Pages/Droid/bin
Pages/Droid/obj
Pages/Pages/bin
Pages/UITests/bin
Pages/UITests/obj
Pages/iOS/bin
Pages/iOS/obj
Tutos/Tutos/obj
Tutos/Tutos/bin
Pages/packages
